<swiper-container
  class="banner-swiper"
  loop="true"
  speed="1000"
  autoplay="true"
  autoplay-delay="3000"
  autoplay-disable-on-interaction="false"
  pagination="true"
  pagination-clickable="true"
  space-between="0"
>
  <swiper-slide *ngFor="let b of banners" class="banner-slide">
    <div class="banner">
      <!-- Left -->
      <div class="banner__left">
        <div class="banner__title">
          {{ b.title }}
        </div>

        <h2 class="banner__subtitle">
          {{ b.subtitle }}
        </h2>

        <a [href]="b.ctaLink || '#'" class="banner__cta">
          <span class="banner__ctaText">{{ b.ctaText }}</span>
          <i class="fa-solid fa-arrow-right banner__ctaIcon"></i>
        </a>
      </div>

      <!-- Right -->
      <div class="banner__right">
        <img
          class="banner__img"
          [src]="b.image || 'assets/images/banner.jpg'"
          alt="Banner product"
        />
      </div>
    </div>
  </swiper-slide>
</swiper-container>
