<swiper-container
  class="block w-full
         [--swiper-pagination-color:white]
         [--swiper-pagination-bullet-inactive-color:rgba(255,255,255,.30)]
         [--swiper-pagination-bullet-inactive-opacity:1]
         [--swiper-pagination-bullet-size:8px]
         [--swiper-pagination-bottom:16px]"
  loop="true"
  speed="1000"
  autoplay="true"
  autoplay-delay="3000"
  autoplay-disable-on-interaction="false"
  pagination="true"
  pagination-clickable="true"
>
  <swiper-slide *ngFor="let b of banners">
    <div class="rounded-xl flex flex-row">
      <div class="p-6 sm:p-10">
        <div class="text-xl mb-3">{{ b.title }}</div>
        <h2 class="text-2xl sm:text-4xl font-semibold leading-tight line-clamp-3">
          {{ b.subtitle }}
        </h2>
        <a [href]="b.ctaLink || '#'" class="mt-4 inline-flex items-center gap-2 text-sm underline underline-offset-4">
          {{ b.ctaText }}
        </a>
        <i class="fa-solid fa-arrow-right text-xs pl-3"></i>
      </div>
      <div>
        <img class="rounded-xl "
          [src]="b.image || 'assets/images/banner_mau.jpg'"
          alt="Banner product"
        />
      </div>
    </div>
  </swiper-slide>
</swiper-container>
