server:
  port: 8088
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/webapp?useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
  jpa:
    show-sql: true
jwt:
  expiration: 2592000
  secretKey: bAkQVT4bs7moZqUYE2HeWNsXdUri/Hb4aEstK6VGyAA=